<main class="main">
  <div class="content">
    <ngx-query-builder [formControl]='queryCtrl' [config]='currentConfig' [allowRuleset]='allowRuleset' [allowCollapse]='allowCollapse' [allowNot]='allowNot' [allowConvertToRuleset]='allowConvertToRuleset' [allowRuleUpDown]='allowRuleUpDown' [persistValueOnFieldChange]='persistValueOnFieldChange' [ruleName]='ruleName' [rulesetName]='rulesetName' [defaultRuleAttribute]="'name'" [hideButtons]='hideButtons'>
      <ng-container *queryInput="let rule; type: 'textarea'; let getDisabledState=getDisabledState; let onChange=onChange">
      <textarea class="text-input text-area" [(ngModel)]="rule.value" (ngModelChange)="onChange()" [disabled]=getDisabledState()
                placeholder="Custom Textarea"></textarea>
      </ng-container>
    </ngx-query-builder>
    <div class="row panel" style="flex-direction: column">
      <div class="row">
        <label>Control Valid (Vanilla): {{ queryCtrl.valid }}</label>
        <label>Control Touched (Vanilla): {{ queryCtrl.touched }}</label>
        <label>Rules Limit: <input type="number" class="num" value="0" (change)=changeRulesLimit($event)></label>
        <label>Level Limit: <input type="number" class="num" value="0" (change)=changeLevelLimit($event)></label>
      </div>
      <div class="row">
        <div>
          <label><input type="checkbox" (change)=switchModes($event)>Entity Mode</label>
        </div>
        <div>
          <label><input type="checkbox" [(ngModel)]='allowRuleset'>Allow Ruleset</label>
        </div>
        <div>
          <label><input type="checkbox" [(ngModel)]='allowCollapse'>Allow Collapse</label>
        </div>
        <div>
          <label><input type="checkbox" [(ngModel)]='useCollapsedSummary' (change)='updateCollapsedSummary()'>Collapsed Summary</label>
        </div>
        <div>
          <label><input type="checkbox" [(ngModel)]='allowNot'>Allow Not</label>
        </div>
        <div>
          <label><input type="checkbox" [(ngModel)]='persistValueOnFieldChange'>Persist Values on Field Change</label>
        </div>
        <div>
          <label><input type="checkbox" [(ngModel)]='allowConvertToRuleset'>Allow Convert To Ruleset</label>
        </div>
        <div>
          <label><input type="checkbox" [(ngModel)]='useSavedRulesets' (change)='updateNamedRulesetsUsage()'>Saved Rulesets</label>
        </div>
        <div>
          <label><input type="checkbox" [(ngModel)]='allowRuleUpDown'>Allow Rule Up/Down</label>
        </div>
        <div>
          <label><input type="checkbox" [(ngModel)]='hideButtons'>Hide Buttons</label>
        </div>
        <div>
          <label><input type="checkbox" [(ngModel)]='useExpressionNames' (change)='toggleExpressionNames()'>Expression</label>
        </div>
        <div>
          <label><input type="checkbox" (change)=changeDisabled($event)>Disabled</label>
        </div>
      </div>

    <textarea class="output" [title]="queryTitle" [ngClass]="queryTextState" [(ngModel)]="queryText" (ngModelChange)="updateQuery($event)"></textarea>
    </div>
  </div>
</main>
